@mixin font-kerning($font-kerning) {
	-webkit-font-kerning: $font-kerning;
	-moz-font-kerning: $font-kerning;
}

@mixin text-size-adjust($text-size-adjust) {
	-webkit-text-size-adjust: $text-size-adjust;
	-ms-text-size-adjust: $text-size-adjust;
	text-size-adjust: $text-size-adjust;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin box-shadow($box-shadow...) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}  
}