<footer class="content-section-dark">
	<div class="margin-container">
		<p class="copyright">Copyright &copy; 2016 Rogue Design Co. Built with <i class="fa fa-heart"></i> in Boston.</p>
	</div>
</footer>
</div> <!-- .container --> 


<script>
	$(document).ready(function() {

		$("#owl-demo").owlCarousel({

			navigation : true, // Show next and prev buttons
			slideSpeed : 300,
			paginationSpeed : 400,
			singleItem:true,
			autoPlay:true,
			autoHeight: true

			// "singleItem:true" is a shortcut for:
			// items : 1, 
			// itemsDesktop : false,
			// itemsDesktopSmall : false,
			// itemsTablet: false,
			// itemsMobile : false

		});

	});
</script>






<script>
	$("#contact-form").validate({
		submitHandler: function(form) {
			$.ajax({
				url: "//formspree.io/hello@roguedesign.co", 
				method: "POST",
				data: {
					name: $(form).find("input[name='name']").val(),
					_replyto: $(form).find("input[name='_replyto']").val(),
					url: $(form).find("input[name='url']").val(),
					message: $(form).find("textarea[name='message']").val()
				},
				dataType: "json",
				success: function() {
					$("#submit-success").fadeIn();
					$("#contact-form").fadeOut();
				},
				error: function() {
					$("#submit-errors").fadeIn();        
				}
			});
		}
	});
</script>