.grid_container {
	margin-right: -1%;
	margin-left: -1%;
}

@media (min-width: 40rem) {
	.column {
		display: inline;
		float: left;
		margin-left: 1%;
		margin-right: 1%;
	}

	.column.full { width: 98%; }
	.column.two-thirds { width: 66.7%; }
	.column.half { width: 48%; }
	.column.third { width: 31%; }
	.column.fourth { width: 25%; }
	.column.flow-opposite { float: right; }  
}